# Pandas
- The most used scientific/data library in Python
- Uses Numpy as its base for mathematical operations
- Working with Series and Data Frames

In [1]:
# Pandas alias is pd
import pandas as pd

# Series
- Most basic unit
- 1D Array
- Indexable

In [2]:
# Make a series
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# We can use our own index
s = pd.Series([1,2,3], index=['a','b','c'])
s

a    1
b    2
c    3
dtype: int64

In [7]:
# We can do math with our series
s1 = pd.Series([10,20,30])
s2 = pd.Series([1,3,5])

print(s1+s2)

0    11
1    23
2    35
dtype: int64

In [11]:
# Items are combined based on index
s1 = pd.Series([10,20,30], index=['a','b','c'])
s2 = pd.Series([1,3,5], index=['c','b','c'])

print(s1+s2)

a     NaN
b    23.0
c    31.0
c    35.0
dtype: float64

# Data Frame
- Main data structure that we will utilize
- 2D, Tabular structure
- SQL Table Equilavent
- Every column in a Data Frame is a Series
- Both Rows and Columns are indexable
- Benefits:
    - Clean look
    - Hyper efficient
    - Makes Exploring data easy

In [21]:
# The Easiest way to create a data frame is with a Dictionary
data = {
    "Fruits": ["Apple", "Banana", "Orange"],
    "Colors": ["Red", "Yellow", "Orange"],
    "Price": [2.99, 0.99, 1.99]
}

# It will infer the types based on the input
df = pd.DataFrame(data)

df

   Fruits  Colors  Price
0   Apple     Red   2.99
1  Banana  Yellow   0.99
2  Orange  Orange   1.99